body{
  font-family: "Philosopher";

}
div#d1
{
  background-color:#fefee4;
  height:150px;
}
div#d2
{
  background-color:#ff8c0f;
  height: 15px;

}
.img1:hover{
  transform:scale(1.2);
  transition:0.6s;
}
img#i1
{
  width:1504px;
  padding-top: 15px;
}
img#i2
{
  width:200px;
  height:150px;
  padding-left: 640px;
}
div#d3
{
  position: relative;
 color: white;
 font-family: "Philosopher";
}
.t1 {
  position: absolute;
  top: 8px;
  font-size: 70px;
  padding-top: 45px;
  padding-left: 630px;
}
.t2 {
  position: absolute;
  top: 8px;
  font-size: 30px;
  padding-top: 145px;
  padding-left: 650px;
}
div#d4
{
  background-color:#fefee2;
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
}

div#d5
{
  background-color:#fefee2;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
    font-size: 25px;
}
img#i3
{
  padding-top: 10px;
  padding-left:620px;
}
img#i4
{
    padding-top: 10px;
  padding-left:80px;
}
div#d7
{
    background-color:#fefee2;
}
p#p1{
  text-align:center;
  font-weight: lighter;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 10px;
}
p#p2{
  text-align:center;
  font-weight: lighter;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 40px;
}
p#p3{
  text-align:center;
  font-weight: lighter;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 40px;
  font-size: 30px;
}
p#p4{
  padding-left: 20px;
  padding-top: 10px;
  font-size:30px;
}
p#p5
{
  padding-left: 20px;
  padding-right: 30px;
}
hr{
  border:1px solid #ff8c0f;
border-collapse: collapse;
}
p#p6
{
  padding-left:30px;
}
#map{
  height:500px;
  width:50%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    background-color: red;
}

.fa-facebook {
  color: white;
}
.fa-google {
  color: white;
}
.fa-linkedin {
  color: white;
}
.fa-instagram {
  color: white;
}
#linking
{
  color: red;
  text-decoration: underline;
}
#footer{

  left:0;
  bottom:0;
  width:100%;
  background-color:black;
  color:white;
  text-align:center;
  height:225px;
  font-size:17px;
  font-family:"philosopher"
}
#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: #555;
}


table#tb1
{
  margin-top: 12px;
  cellpadding:1;
  background-color: black;
  height:40px;
}
th#th1{
  width:200px;
  color: black;
}
th#i2
{
  width:757px;
  text-align: left;
  padding-left: 60px;
}
th#th1:hover
{
  background-color: #ff8c0f;
}
th#th2:hover
{
  background-color: black;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color:white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: transparent;
}
a:active {
  color:white;
  background-color: transparent;
}
div#div6
{
  background-color: #ff8c0f;
  height: 65px;
  margin-block-end:-15px;
}
